body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    font-family: sans-serif;
    font-size: small;
  }
  
  .container {
    display: flex;
    flex-grow: 1;
    font-family: sans-serif;
  }
  
  .image-side {
    flex: 1;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .image-side img {
    width: 650px;
    height: 600px;
    object-fit: cover;
  }
  
  .content-side {
    flex: 1;
    padding: 40px;
    
  }
  .topic{
    margin-left:13% ;
  }
  
  header {
    text-align: center;
    margin-bottom: 30px;
    
  }
  
  header img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
  }
  
  h2 {
    display: flex;
    margin-left: 17%;
    
  }
  h3 {
    display: flex;
    margin-left: 17%;
    margin-bottom: 5px;
  }
  h4{
    text-align: center;
  }
  
  main {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
    
  }
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;  
    width: 375px;
    height: 42px;
    background-color: #D6D4D4; 
  }
  
  button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 245px;
    height: 46px;
    background-color: #7848F4;
    color: white;
    cursor: pointer;
  }
  
  .forgot-signup {
    margin-top: 15px;
    text-align: center;
  }
  
  .forgot-signup a {
    text-decoration: none;
    color: #508BC1;
    margin: 0 5px;
  }
  
  /* reset Password */

.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); 
    display: none; 
  }
  .reset-email-content {
    background-color: white;
    padding: 20px;
    margin: auto;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
  }
  label {
    display: flex;
    margin-left: 0%;
    margin-bottom: 5px;
    
  }
  
  .reset-password-content {
    background-color: white;
    padding: 20px;
    margin: auto;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .success-message {
    background-color: white;
    padding: 20px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999; 
  }
  
  .success-message h2 {
    color: #000;
  }
  
  .success-message p {
    color: #333;
  }
  
  .success-message img {
    margin-bottom: 10px;
  }
  
  .login-button {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    width: 245px;
    height: 46px;
    background-color: #7848F4;
    color: white;
    cursor: pointer;
  }
  
  
  /* Add responsiveness for smaller screens */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .image-side {
    width: 100%;
  }
  .image-side img {
    width: 100%;
    height: auto;
  }
  .content-side {
    padding: 20px;
    margin-right: 0;
  }
  header h2,
  header h3 {
    margin-left: 0;
  }
  input,
  button {
    width: 100%;
  }
}

/* Add other CSS styles here */
/* Add this CSS for the close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

.close-btn:hover {
    color: red; /* Change color on hover if desired */
}
label{
    padding-left: 4.5rem;
}