/* General Styles */
/* Style for the filter container */
.filter-options {
    margin-bottom: 20px;
  }
  
  /* Style for the labels */
  .filter-options label {
    margin-right: 10px;
  }
  
  /* Style for the select element */
  .filter-options select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Style for the date input */
  .filter-options input[type="date"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Style for the apply button */
  .filter-options button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Style for the apply button on hover */
  .filter-options button:hover {
    background-color: #0056b3;
  }
  
  body {
      font-family: 'Inter Tight', sans-serif;
      background-color: #2064a9;
      color: #343a40;
    }
    .blue-text {
        color: rgba(120, 72, 244, 1);
      }
      
    /* Sidebar Styles */
    .sidebar {
      width: 250px;
      background-color: #343a40;
      color: #ffffff;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      overflow-y: auto;
      z-index: 1000;
      transition: width 0.3s ease;
    }
    
    .sidebar .header-box {
      background-color: #212529;
    }
    
    .sidebar .logo-text {
      font-size: 1.5rem;
      font-weight: 700;
    }
    
    .sidebar ul {
      padding-left: 0;
      margin-top: 20px;
    }
    
    .sidebar ul li {
      list-style: none;
      padding: 10px 20px;
      border-bottom: 1px solid #495057;
    }
    
    .sidebar ul li.active {
      background-color: rgba(120, 72, 244, 1);
    }
    
    .sidebar ul li a {
      color: #ffffff;
      text-decoration: none;
    }
    
    .sidebar ul li a:hover {
      color: #ffffff;
    }
    .sidebar ul li:hover{
        background-color: rgb(73, 12, 227);
    }
    
    .sidebar hr {
      margin: 20px 0;
      border-color: #495057;
    }
    
    /* Content Styles */
    .content {
      margin-left: 250px;
      padding: 20px;
    }
    
    .content h2 {
      margin-bottom: 20px;
    }
    
    /* Table Styles */
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    table th,
    table td {
      padding: 10px;
      text-align: left;
    }
    
    table th {
      background-color: #212529;
      color: #ffffff;
    }
    
    .table-row:nth-child(even) {
      background-color: #f8f9fa;
    }
    
    .approval-status {
      padding: 5px 10px;
      border-radius: 5px;
    }
    
    .approval-status.pending {
      background-color: #ffc107;
      color: #ffffff;
    }
    
    .approval-status.approved {
      background-color: #28a745;
      color: #ffffff;
    }
    
    .approval-status.cancelled {
      background-color: #dc3545;
      color: #ffffff;
    }
    
    .button-wrapper {
      display: flex;
      gap: 10px;
    }
    
    /* Pagination Styles */
    .pagination {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
    
    .pagination button {
      padding: 8px 16px;
      margin: 0 5px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: rgba(120, 72, 244, 1);
      color: #ffffff;
    }
    
    .pagination button:hover {
      background-color: rgb(73, 12, 227);
    }
    .filter-options {
      margin-bottom: 20px;
    }
    
    .filter-options .form-label {
      font-weight: bold;
    }
    
    .filter-options .form-select,
    .filter-options .form-control {
      width: 100%;
      max-width: 250px;
      margin-right: 10px;
    }
    
    .pagination {
      margin-top: 20px;
    }
    
/* Responsive Styles */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        position: fixed;
        top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .content {
        margin-left: 0;
        padding: 10px;
    }

    .navbar .logo-text {
        display: inline-block;
    }

    table th, table td {
        padding: 5px;
    }

    .pagination button {
        padding: 5px 10px;
    }
}

@media (max-width: 576px) {
    .sidebar ul li {
        padding: 8px 10px;
    }

    .sidebar .logo-text {
        font-size: 1.2rem;
    }

    table th, table td {
        font-size: 12px;
    }

    .pagination {
        flex-direction: column;
        gap: 5px;
    }

    .pagination button {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .hamburger-menu {
      display: block;
      position: fixed;
      top: 5px;
      right: 20px;
      z-index: 1000;
      cursor: pointer;
    }
}
    