.welcome-message {
    text-align: center;
    margin-top: 30px;
}
.booking-steps {
    margin-top: 30px;
}


.card {
    border-radius: 10px;
    padding: 20px;
    background-color: #fff; 
    color: #120101; 
    box-shadow: 0, 4px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #0c0000;
    padding: 20px;
    text-align: left;
}
th {
    background-color: #6499c5;
}
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 40px;
}


.table tbody td {
    vertical-align: middle; /* Center text vertically */
}
/* Custom CSS for room cards */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
    height: 100%;
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
}

.card-img {
    width: 100%;
    height: 200px; /* Adjust image height as needed */
    object-fit: cover;
    border-radius: 8px 8px 0 0; /* Rounded corners for top of image */
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px; /* Add padding for content spacing */
}

.row {
    margin-top:20px;
}
